*{
    margin: 0;
    color: white;
}

body{
    background-color: rgb(34, 34, 34);
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 99.9vw;
    height: 70px;
    
}
div#main{
    width: 100vw;
    height: 92.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#box{
    margin-bottom: 100px;
    width: 450px;
    height: 450px;
    border: 3px solid gray;
    border-style: dashed;
}
div#copy{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
button{
    height: 50px;
    margin: 0;
    width: 100px;
    background-color: chartreuse;
    border: 0;
    cursor: pointer;
    font-size: 25px;
    font-weight: bolder;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(235, 235, 235);
}
input{
    height: 48px;
    width: 300px;
    border: 0;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(225, 225, 225);
    font-size: 25px;
    
}